h1 {
	font-family: "Fira Mono", sans-serif;
	font-size:36px;
}

p, a, body {
	font-family: "Iowan Old Style", serif;
	font-size:19px;
}

html {
	max-width: 640px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}